@import 'partials/_media-queries';
@import 'partials/_normalize';
@import 'partials/_mfpopup';

// Colors 
$white: #fff;
$black: #000000;

$srm_blue: #1D3C5E;
$srm_light_blue: #76C2DB;
$srm_teal: #90F4EE;
$srm_red: #FF0000;
$srm_brown: #4A2930;
$srm_purple: #A280C8;
$srm_green: #5A7827;
$srm_off_white: #ECE8E5;
$srm_orange: #E28A4C;
$srm_yellow: #EFEF60;

$font_color: #0F3D61;
$border_color: #C1CED8;

$form_bg_color: #0F3D61;
$summary_card_color: #e7ecef;

// Breakpoints
$smBreak: 389px;
$mdBreak: 700px;
$lgBreak: 1200px;
$xlBreak: 1600px;

$archiveGridBreak: 1050px;

$navBreak: 900px;
$navBreakMax: 899px;

// Fonts
$font_primary: "Titillium Web", "Arial", sans-serif;

// Padding
$paddingSideSm: 16px;
$paddingSideMd: 32px;
$paddingSideLg: 40px;
$paddingSideXl: 40px;

// Padding for containers
$innerSidePaddingSm: 10px;
$innerSidePaddingLg: 24px;

// Sizes
$siteMaxWidth: 1300px;


.temp-block {
  height: 200px;
  width: 100%;

  background: #676767;

  border: 1px solid #ddd;
}

/* ****************************************
 * Sitewide: Universal
 * **************************************** */
* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  width: 100%;
  height: 100%;

  margin: 0;

  overflow-x: hidden;

  &.fixed {
    overflow: hidden;
  }
}

img {
  max-width: 100%;
}


%side-padding {
  padding: 0 $paddingSideSm;
  
  @include mq($min-width: $mdBreak) {
    padding: 0 $paddingSideMd;
  }

  @include mq($min-width: $lgBreak) {
    padding: 0 $paddingSideLg;
  }

  @include mq($min-width: $xlBreak) {
    padding: 0 $paddingSideXl;
  }
}

%inner-side-padding {
  padding: 0 $innerSidePaddingSm;
  
  @include mq($min-width: $lgBreak) {
    padding: 0 $innerSidePaddingLg;
  }
}

%border-radius {
  border-radius: 12px;

  @include mq($min-width: $mdBreak) {
    border-radius: 20px;
  }

  @include mq($min-width: $lgBreak) {
    border-radius: 30px;
  }
}

.container { // adds padding to container
  @extend %side-padding !optional;

  &__inner {
    max-width: 900px;
    margin: 0 auto;
  }

  &__inner-wide {
    max-width: 900px;
    margin: 0 auto;

    @include mq($min-width: 1550px) {
      max-width: 1160px;
    }
  }

  &__inner-full {
    max-width: 1360px;
    margin: 0 auto;
  }
}

.text-wrapper {
	max-width: 900px;
	margin: 0 auto;

  .alignleft {
    float: left;
    margin-right: 20px;
  }

  .alignright {
    float: right;
    margin-left: 20px;
  }
}

.box-wrapper {
  padding: 16px 12px;
  
  background: $summary_card_color;
  border-radius: 12px;

  @include mq($min-width: $lgBreak) {
    // border-radius: 30px;
    padding: 20px;
  }
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.col-split {
  img {
    display: block;
  }

  &__left {
    margin-bottom: 1rem;
  }

  @include mq($min-width: $mdBreak) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &.flipped {
      grid-auto-flow: dense;

      .col-split__left {
        grid-column: 2;
      }

      .col-split__right {
        grid-column: 1;
      }
    }

    &__left {
      margin-bottom: 0;
    }
  }
}

.vertical-align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.css-relative {
  position: relative;
}

.css-teal,
.css-teal a {
  color: $srm_teal !important;
}

.css-margin-top {
  margin-top: 30px !important;
}

.css-capitalize {
  text-transform: capitalize;
}

.css-no-margin {
  margin: 0 !important;
}

/* ****************************************
 * Main Container
 * **************************************** */
 .site-main {
  padding-top: calc(92px);

  @include mq($min-width: $smBreak) {
    padding-top: 100px;
  }

  @include mq($min-width: $mdBreak) {
    padding-top: 96px;
  }

  @include mq($min-width: $navBreak) {
    padding-top: 105px;
  }
}

.page-template-tp-homepage {
  
  .site-main {
    // padding-top: calc(74px + 60px);
  
    @include mq($min-width: $mdBreak) {
      padding-top: 95px;
    }
  }
  
}

/* ****************************************
* Wordpress: Core
* **************************************** */
.entry-meta {
  margin-bottom: 1rem;
}

.cat-links {
  padding-right: 1rem;
}

/* ****************************************
 * Wordpress: Admin Bar
 * **************************************** */
#wpadminbar {
  color: $font_color;
  //background: #2c3338;
  background: transparent;

  #wp-admin-bar-root-default {
    > li {
      display: none;

      &#wp-admin-bar-my-account,
      &#wp-admin-bar-wp-logo,
      &#wp-admin-bar-edit {
        display: inline-block;
        background: #2c3338 !important; // wp menu default bg color
      }
    }
  }

  li {
    &#wp-admin-bar-my-account {
      background: #2c3338 !important; // wp menu default bg color
    }

    &#wp-admin-bar-search {
      display: none;
    }
  }
}

.error-404 {
  padding: 5rem 0;
  text-align: center;
  min-height: calc(100vh - 96px);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ****************************************
 * Sitewide: Typography
 * **************************************** */
.screen-reader-text {
  display: none;
}

body {
	margin: 0;

  color: $font_color;
  font-family: $font_primary;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
.caption {
  margin: 0.25rem 0 0 0;
}

.dropcap {
  float: left;
  padding: 2px 7px 0 0;
  font-size: 4rem;
  font-weight: bold;
  line-height: 0.7;
  transform: translateY(7px);
}

.dropcap-wrapper::first-letter {
  float: left;
  padding: 2px 7px 0 0;
  font-size: 4rem;
  font-weight: bold;
  line-height: 0.7;
  transform: translateY(7px);
}

figcaption {
  font-size: 1.4rem;
}
*/

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1.5rem 0;
  font-weight: 600;
}

h1,
.h1 {
  margin: 0 0 1rem -2px; // left offset for text alignment

  font-size: 32px;
  line-height: 110%;
  

  @include mq($min-width: $lgBreak) {
    margin: 0 0 1.5rem -2px;
    font-size: 52px;
    line-height: 110%;
  }
}

h2,
.h2 {
  margin: 0 0 0.75rem 0;
  font-size: 20px;
  line-height: 125%;

  @include mq($min-width: $lgBreak) {
    // font-size: 4rem;
    margin: 0 0 1rem 0;
    font-size: 28px;
    line-height: 125%;
  }
}

h3,
.h3 {
  margin: 0 0 0.5rem 0;
  font-size: 18px;
  line-height: 125%;

  @include mq($min-width: $lgBreak) {
    margin: 0 0 0.5rem 0;
    font-size: 24px;
    line-height: 125%;
  }
}

h4,
.h4 {
  margin: 0 0 0.75rem 0;
  font-size: 16px;
  line-height: 125%;

  @include mq($min-width: $lgBreak) {
    font-size: 18px;
  }
}

h5,
.h5 {
  margin: 0 0 0.5rem 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;

  @include mq($min-width: $lgBreak) {
    font-size: 16px;
    line-height: 150%;
  }
}

h6,
.h6 {
  margin: 0 0 0.5rem 0;
  font-size: 14px;
  line-height: 125%;
}

p,
li,
p span {
  margin: 0 0 16px 0;
  font-size: 16px;
  line-height: 135%;

  @include mq($min-width: $lgBreak) {
    font-size: 18px;
    line-height: 150%;
  }

  sub, sup,
  sub span,
  sup span {
    font-size: 85% !important;
  }
}

a {
  color: $srm_blue;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }
}

hr {
  border-color: $black;
}

.bold {
  font-weight: 600;
}

.btn {
  display: inline-block;
  min-width: 100px;

  padding: 4px 10px;

  font-size: 14px;
  font-weight: 600;
  
  text-align: center;

  color: $srm_blue;
  background: transparent;
  border: 1px solid $srm_blue;

  border-radius: 100px;

  text-decoration: none;

  transition: all 250ms ease;

  cursor: pointer;

  @include mq($min-width: $lgBreak) {
    padding: 10px 14px;
    font-size: 18px;
  }

  &:hover {
    color: $white;
    background: $srm_blue;
    text-decoration: none;
  }

  &.white {
    color: $white;
    border-color: $white;

    &:hover {
      color: $srm_blue;
      background: $white;
    }
  }

  &.teal {
    color: $srm_teal;
    border-color: $srm_teal;

    &:hover {
      color: $srm_blue;
      background: $srm_teal;
    }
  }

  &.wide {
    min-width: 150px;
  }

  &.blue-gradient {
    color: $white;
    background: linear-gradient(45.23deg, rgba(255, 255, 255, 0) 48.4%, rgba(255, 255, 255, 0.3) 48.61%), linear-gradient(0deg, #0F3D61 25%, #9CF5F0 100%);
    border: none ;
    
    transition: none;
    &:hover {
      color: $srm_blue;
      background: linear-gradient(45.23deg, rgba(255, 255, 255, 0) 48.4%, rgba(255, 255, 255, 0.3) 48.61%), linear-gradient(0deg, #E28A4C 25%, #EFEF60 100%);
    }
  }
}

.bold {
  font-weight: 600;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.xs-bottom-margin {
  margin-bottom: 0.5rem;
}

.no-top-margin {
  margin-top: 0;
}

/* 
.text-btn {
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
*/
li {
  margin: 0 0 0 0;
}

blockquote,
blockquote p {
  // font-size: 2rem;
  // margin-bottom: 2.6rem;
}

.sort-filter-wrapper {
  position: relative;
  display: inline-block;
  padding: 0 0 0 10px;
  
  background: $srm_blue;
  border: $srm_blue;
  border-radius: 48px;
  color: $srm_teal;
  font-weight: 600;

  font-size: 14px;
  line-height: 20px;

  @include mq($min-width: $lgBreak) {
    padding: 0 0 0 20px;

    font-size: 18px;
    line-height: 22px;
  }

  &::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 51%;
    transform: translateY(-50%);
    width: 16px;
    height: 14px;
    background-image: url('../images/caret-teal.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    
    pointer-events: none;

    @include mq($min-width: $lgBreak) {
      right: 15px;
      background-size: 80%;
    }
  }
}

.sort-filter { 
  position: relative;
  display: inline-block;

  // width: 100%;
  // max-width: 200px;

  padding: 5px 30px 5px 0;
  // font-size: 16px;
  color: $srm_teal;
  font-weight: 600;

  background: $srm_blue;
  border: $srm_blue;
  border-radius: 48px;
  
  appearance: none; /* Remove default arrow */
  -webkit-appearance: none; /* For Chrome and Safari */
  -moz-appearance: none; /* For Firefox */

  @include mq($min-width: $lgBreak) {
    padding: 10px 40px 10px 0;
  }
}

.sort-filter:focus {
  border-color: none; /* Change border color on focus */
  outline: none; /* Remove default focus outline */
}

/* ****************************************
 * Cookies
 * **************************************** */
#cookie-notice {
  font-family: $font_primary;
}

.cn-buttons-container {
  margin-top: 5px;
}

.css-cookie-btn {
  margin-top: 15px;
  @extend .btn !optional;
  border-color: $srm_teal;
  color: $srm_teal;

  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  padding: 5px 10px;

  &:hover {
    color: $srm_blue;
    background-color: $srm_teal;
  }
  
  a {
    color: $srm_teal !important;
  }
}

.cn-text-container {
  a {
    color: $white !important;
  }
}

.cn-close-icon {
  opacity: 1;

  &::before,
  &::after {
    background: $white;
  }

  @include mq($max-width: $mdBreak) {
    top: 20px;
    right: 10px;
  }
}
/* ****************************************
 * Sitewide: Header
 * **************************************** */
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  
  width: 100%;
  
  // background-image: radial-gradient(52.82% 104.89% at 96.76% 0%, #FFFFFF 0%, #EEE9E6 64.91%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;	
  background-color: $srm_off_white;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35);

  transition: all 305ms ease;

  padding: 8px 0;

  &.scrolled {
    // background-image: radial-gradient(52.82% 104.89% at 96.76% 0%, #FFFFFF 0%, #EEE9E6 64.91%) !important /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;	
    background-color: $srm_off_white !important;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.35) !important;

    .site-header-logo {
      opacity: 1;
    }
  }

  @include mq($min-width: $navBreak) {
    padding: 15px 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline;

    ul {
      padding-left: 1rem;
    }
  }
}

// Homepage Variant of Nav
.page-template-tp-homepage {
  .site-header {
    background: transparent;
    box-shadow: none;
  }

  .site-header-logo {
    opacity: 0;
  }

  /*
  .nav-button {
    top: 25px;

    &.secondary {
      right: 50px
    }
  }
    */
}



.mobile-nav-button {
  position: absolute;
  top: 28px;
  right: $paddingSideSm;
  
  width: 25px;
  height: 15px;

  @include mq($min-width: $smBreak) {
    top: 50%;
    transform: translateY(-50%);
  }

  @include mq($min-width: $mdBreak) {
    display: none;
  }

  span {
    position: absolute;

    width: 100%;
    height: 2px;

    background: #040404;

    transform: translateY(-50%);
    transform-origin: center center;

    transition: top 250ms ease-out, opacity 150ms ease, transform 250ms ease-out, background 250ms ease-out, width 250ms ease-out;
    
    &:first-child     { top: 0;    }
    &:nth-child(2n),
    &:nth-child(3n)   { top: 50%;  }
    &:nth-child(2)    { width: 100%; }
    &:nth-child(3n)   { opacity: 0;  }
    &:last-child      { top: 100%; }
  }

  &:hover {
    span {
      &:nth-child(2)   { width: 100%; }
    }
  }

  &.active {
    span {
      top: 50%;
      width: 100%;
      
      &:first-child {
        opacity: 0;
        transform: translateY(-50%);
        transition-delay: 0;
      }

      &:nth-child(2n) {
        transform: rotate(-45deg);
      }

      &:nth-child(3n) {
        transform: rotate(45deg);
        opacity: 1;
      }

      &:last-child {
        opacity: 0;
        transition-delay: 0;
      }
    }
  }
}

.site-header-logo {
  display: block;
  width: 180px;
  
  transition: all 250ms ease;

  @include mq($min-width: $smBreak) {
    width: 200px;
  }

  @include mq($min-width: $mdBreak) {
    width: 230px;
  }
}

.nav-button-group {
  display: inline-block;

  @include mq($min-width: $mdBreak) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: $paddingSideMd;

    width: calc(100% - 320px);

    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  @include mq($min-width: $lgBreak) {
    right: $paddingSideLg;
  }
  @include mq($min-width: $xlBreak) {
    right: $paddingSideXl;
  }
}

.site-header-language {
  position: absolute;
  top: 20px;
  right: 55px;
  
  max-width: 65px;

  @include mq($min-width: $smBreak) {
    top: 50%;
    transform: translateY(-50%);
  }

  @include mq($min-width: $mdBreak) {
    position: relative;
    top: 0;
    right: 0;
    transform: translateY(0);
    // top: 33px;
    // right: 340px;
    // transform: translateY(0);

    max-width: 70px;
  }

  @include mq($min-width: $lgBreak) {
    // top: 26px;
    // right: 400px;

    max-width: 80px;
  // padding: 12px 20px 12px 15px;
  }

  /*
  // Language Labels
  .wpml-ls-display,
  .wpml-ls-native {
   display: none !important;
  }
  */

  .wpml-ls-display,
  .wpml-ls-bracket {
    display: none !important;
  }
  .wpml-ls-native {
    display: inline-block;
    font-family: $font_primary!important;
    font-size: 14px;
    font-weight: 600 !important;
    color: $srm_blue !important;
    transform: translateY(0);

    @include mq($min-width: $lgBreak) {
      font-size: 18px;
      transform: translateY(0);
    }
  }

  // Visible Button
  .js-wpml-ls-item-toggle {
    padding: 6px 20px 8px 15px;
    /*
    width: 108px;
    height: 48px;
    */

    background: linear-gradient(45.23deg, rgba(255, 255, 255, 0) 48.4%, rgba(255, 255, 255, 0.4) 48.61%), linear-gradient(0deg, #E9E3DF 25%, #EEE9E6 100%);
    border-radius: 100px;

    &:hover {
      background: linear-gradient(45.23deg, rgba(255, 255, 255, 0) 48.4%, rgba(255, 255, 255, 0.3) 48.61%), linear-gradient(0deg, #0F3D61 25%, #9CF5F0 100%);
      
      .wpml-ls-native {
        color: $white !important;
      }
    }

    @include mq($min-width: $lgBreak) {
      padding: 13px 25px 13px 20px;

      .wpml-ls-flag {
        width: 26px;
        height: auto;
      }
    }

    &::after {
      border-top-color: $srm_blue;
    }
  }

  .wpml-ls-legacy-dropdown .wpml-ls-current-language:hover>a {
    background: linear-gradient(45.23deg, rgba(255, 255, 255, 0) 48.4%, rgba(255, 255, 255, 0.4) 48.61%), linear-gradient(0deg, #E9E3DF 25%, #EEE9E6 100%);
    
    &:hover {
      background: linear-gradient(45.23deg, rgba(255, 255, 255, 0) 48.4%, rgba(255, 255, 255, 0.3) 48.61%), linear-gradient(0deg, #0F3D61 25%, #9CF5F0 100%);
      
      &::after {
        border-top-color: $white;
      }
    }
  }

  // Language Dropdown
  .wpml-ls-sub-menu {
    padding-top: 4px !important;
    border-top: 0 !important;

    @include mq($min-width: $lgBreak) {
      padding: 13px 25px 13px 20px;

      .wpml-ls-flag {
        width: 26px;
        height: auto;
      }
    }
    
    li:first-child {
      .wpml-ls-link {
        // background: pink !important;
        border-top: 1px solid #BDC6CE !important;
      }     
    }

    li {
      .wpml-ls-link {
        border-color: #BDC6CE;
        text-align: center;
        padding-bottom: 8px;
      }
    }
  }
}

.nav-button {
  /*
  position: absolute;
  top: 87px;
  */

  display: inline-block;
  padding: 6px 20px 8px 15px;
  
  
  background: linear-gradient(45.23deg, rgba(255, 255, 255, 0) 48.4%, rgba(255, 255, 255, 0.4) 48.61%), linear-gradient(0deg, #E9E3DF 25%, #EEE9E6 100%);
  border-radius: 100px;
  border: 1px solid rgba(205, 205, 205, 1);

  font-size: 14px;
  font-weight: 600;
  text-decoration: none;

  display: none;

  &:hover {
    text-decoration: none;
    color: $white;
    background: linear-gradient(45.23deg, rgba(255, 255, 255, 0) 48.4%, rgba(255, 255, 255, 0.3) 48.61%), linear-gradient(0deg, #0F3D61 25%, #9CF5F0 100%);
    
    .nav-button__hamburger {
      background-image: url('../images/icon-hamburger-white.svg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &.secondary {
    // right: $paddingSideSm;
  }

  @include mq($min-width: $mdBreak) {
    // top: 33px;
    // right: $paddingSideMd;

    display: block;

    &.secondary {
      // right: 195px;
    }
  }

  @include mq($min-width: $lgBreak) {
    // top: 26px;
    // right: $paddingSideLg;

    padding: 12px 20px 12px 15px;

    font-size: 18px;

    &.secondary {
      // right: 230px;
    }
  }

  &__hamburger {
    display: inline-block;
    width: 15px;
    height: 10px;

    margin-left: 8px;
    transform: translateY(1px);

    background-image: url('../images/icon-hamburger.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include mq($min-width: $lgBreak) {
      transform: translateY(-1px);
    }
  }
}

.main-navigation {
  @extend %border-radius !optional;
  position: fixed;
  top: $paddingSideSm;
  right: $paddingSideSm;

  // visibility: hidden;

  background: $srm_blue;

  padding: 10px;

  width: calc(100% - 32px);

  padding-top: 70px;

  display: grid;
  grid-template-columns: 1.2fr 1fr;

  box-shadow: 2px 2px 7px 4px rgba(0, 0, 0, 0.2);

  &__right {
    border-left: 1px solid #7F93A3;
    padding-left: 20px;
  }

  a:not([href]) {
    color: $srm_teal;
    margin-bottom: 20px;
    font-weight: 600;

    &:hover {
      color: $srm_teal !important;
    }
  }

  .css-teal a {
    font-weight: 600;
  }

  a {
    color: $white;
    font-weight: 600;
    text-decoration: none;
  }

  ul {
    padding: 0;
    margin: 0;
    
    li {
      margin: 6px 0;
      display: block;

      a {
        font-weight: 400;

        transition: color 250ms ease;

        &:hover {
          color: $srm_orange;
        }
      }

      &.current-menu-item {
        
        > a {
          font-weight: 600;
          padding: 0 12px;
          background: $srm_orange;
          border-radius: 100px;
          color: $white !important;
        }
      }
    }
  }

  @include mq($min-width: $mdBreak) {
    top: 20px;
    right: $paddingSideMd;
    padding: 50px 20px 20px 20px;

    max-width: 370px;
  }

  @include mq($min-width: $lgBreak) {
    top: 20px;
    right: $paddingSideLg;
    padding: 90px 20px 20px 20px;

    max-width: 540px;
  }
}

.secondary-navigation {
  @extend %border-radius !optional;
  position: fixed;
  top: $paddingSideSm;
  right: $paddingSideSm;

  // visibility: hidden;

  background: $srm_blue;

  padding: 10px;

  width: calc(100% - 32px);

  padding-top: 70px;

  display: grid;
  grid-template-columns: 1fr;

  box-shadow: 2px 2px 7px 4px rgba(0, 0, 0, 0.2);

  &__right {
    border-left: 1px solid #7F93A3;
    padding-left: 20px;
  }

  a:not([href]) {
    color: $srm_teal;
    margin-bottom: 20px;
    font-weight: 600;

    &:hover {
      color: $srm_teal !important;
    }
  }

  .css-teal a {
    font-weight: 600;
  }

  a {
    color: $white;
    font-weight: 600;
    text-decoration: none;
  }

  ul {
    padding: 0;
    margin: 0;
    
    li {
      margin: 6px 0;
      display: block;

      a {
        font-weight: 400;

        transition: color 250ms ease;

        &:hover {
          color: $srm_orange;
        }
      }

      .sub-menu {
        padding-left: 15px;
      }

      &.current-menu-item {
        > a {
          font-weight: 600;
          padding: 0 12px;
          background: $srm_orange;
          border-radius: 100px;
          color: $white !important;
        }
      }
    }
  }

  @include mq($min-width: $mdBreak) {
    top: 20px;
    right: $paddingSideMd;
    padding: 50px 20px 20px 20px;

    max-width: 370px;
  }

  @include mq($min-width: $lgBreak) {
    top: 20px;
    right: $paddingSideLg;
    padding: 90px 20px 20px 20px;

    max-width: 540px;
  }
}


/* \/\/\/ */
.mfp-mobile-nav {
  .mfp-container {
    padding: 0;
  }

  .mfp-close {
    display: none;
  }

  @include mq($min-width: $navBreak) {
    display: none !important;
  }
}

.mfp-bg.mfp-mobile-nav {
  background: $srm_blue !important;
  opacity: 1 !important;
}

.mobile-navigation {
  background: $srm_blue;

  width: 100%;

  padding: 70px 20px 20px 20px;

  .nav-close-button {
    position: fixed;
  }

  > div {
    margin-bottom: 20px;
  }

  a:not([href]) {
    color: $srm_teal;
    margin-bottom: 20px;
    font-weight: 600;

    &:hover {
      color: $srm_teal !important;
    }
  }

  .css-teal a {
    font-weight: 600;
  }

  a {
    color: $white;
    font-weight: 600;
    text-decoration: none;
  }

  ul {
    padding: 0;
    margin: 0;
    
    li {
      margin: 6px 0;
      display: block;

      a {
        font-weight: 400;

        transition: color 250ms ease;

        &:hover {
          color: $srm_orange;
        }
      }

      .sub-menu {
        padding-left: 15px;
      }

      &.current-menu-item {
        a {
          font-weight: 600;
          padding: 0 12px;
          background: $srm_orange;
          border-radius: 100px;
          color: $white !important;
        }
      }
    }
  }

  @include mq($min-width: $mdBreak) {
    top: 20px;
    right: $paddingSideMd;
    padding: 50px 20px 20px 20px;

    max-width: 370px;
  }

  @include mq($min-width: $lgBreak) {
    top: 20px;
    right: $paddingSideLg;
    padding: 90px 20px 20px 20px;

    max-width: 540px;
  }
}

/* ^^^ */

.nav-close-button {
  position: absolute;
  top: 20px;
  right: 20px;

  display: block;
  width: 25px;
  height: 25px;

  border-radius: 100px;

  border: 1px solid $white;

  transition: all 250ms ease;

  cursor: pointer;
  
  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 60%;
    height: 2px;

    background: $white;

    content: '';
    transition: all 250ms ease;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:hover {
    background: $white;

    &::before,
    &::after {
      background: $srm_blue;
    }
  }

  @include mq($min-width: $lgBreak) {
    width: 48px;
    height: 48px;
  }
}

.mfp-bg.mfp-nav,
.mfp-bg.mfp-cat-nav {
  background: transparent;
}

.mfp-nav {
  .mfp-close {
    display: none;
  }
}

/* ****************************************
 * Sitewide: Footer
 * **************************************** */
.site-footer {
  // margin-top: 2rem;

  min-height: 400px;

  padding: 70px 0 10px 0;

  background-image: url('../images/bg-footer-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  @include mq($min-width: $mdBreak) {
    padding: 40px 0;

    background-image: url('../images/bg-footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @include mq($min-width: $lgBreak) {
    padding: 40px 0;
    // margin-top: 80px;
  }

  &__legal {
    padding-top: 10px;
    border-top: 1px solid $white;

    p {
      margin-bottom: 0.5rem;
      font-size: 14px;
      color: $white;
    }

    ul {
      margin: 0;
      padding: 0;

      list-style: none;

      li {
        display: inline-block;
        margin-right: 10px;

        a {
          font-size: 14px;
          color: $white;
        }
      }
    }
  }
}

.site-footer-logo {
  display: block;

  width: 200px;
  margin: 0 auto 20px auto;

  @include mq($min-width: $lgBreak) {
    width: 380px;
    margin: 0 auto 40px auto;
  }
}

.site-footer-col {
  color: $white;

  @include mq($min-width: $mdBreak) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  @include mq($min-width: $lgBreak) {
    gap: 70px;
  }
}
.subscribe-title {
  margin-bottom: 0.25rem;
}

.subscribe-message {
  font-size: 14px !important;

  a {
    color: $white;
  }
}

.site-footer-socials {
  margin-bottom: 20px;

  @include mq($min-width: $lgBreak) {
    margin-bottom: 40px;
  }
  
  a {
    display: inline-block;
    width: 32px;
    height: 32px;

    margin-right: 20px;

    cursor: pointer;

    svg {
      fill: $white;
    }
  }
}

.site-footer-newsletter {
  margin-bottom: 20px;
  
  @include mq($min-width: $lgBreak) {
    margin-bottom: 40px;
  }

  text-align: center;

  color: $srm_blue;
  font-weight: 600;
  font-size: 16px;

  border-radius: 20px;

  ._form-label {
    display: none !important;
  }

  ._field-wrapper input {
    display: block;
    width: 100% !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #1d3c5e !important;
    margin-bottom: 16px !important;
    border-radius: 20px !important;
    border: none !important;
    padding: 4px 14px !important;
  }
  
  form {
    margin-top: 0 !important;
  }

  ._button-wrapper {
    text-align: left !important;
  }

  ._form._inline-form ._submit {
    margin-top: 0 !important;
    margin-left: 0;
    font-size: 16px !important;
    padding: 5px 15px !important;
    font-weight: 600 !important;

    color: $white !important;
    background: transparent !important;
    border: 1px solid $white !important;

    &:hover {
      background: $white !important;
      color: $srm_blue !important;
    }
  }
}

._inline-form ._form-thank-you {
  color: $white !important;
  text-align: left !important;
}

.site-footer-form {
  form {
    .frm_form_field {
      margin-bottom: 10px;
    }

    input,
    textarea {
      font-size: 16px;
    }

    button {
      font-size: 16px;
      padding: 5px 15px;
    }
  }
}
/* ****************************************
 * Search Bar
 * **************************************** */
.search-bar {
  padding: 2px;

  background: $srm_blue;
  color: $srm_teal;

  border-radius: 100px;

  display: flex;

  &__tags {
    position: relative;

    display: none;    
  }

  &__form {
    position: relative;
    width: 100%;

    &::after {
      display: none;
      position: absolute;
      top: 0;
      left: -20px;

      width: 20px;
      height: 100%;

      background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(29,60,94,1) 50%);

      content: '';
    }
  }

  @include mq($min-width: $mdBreak) {
    padding: 8px 8px 8px 20px;

    &__tags {
      padding-bottom: 2px;
      display: block;
      flex: 1;
      width: calc(100% - 300px);
      overflow-x: auto;

      overflow-y: hidden;

      white-space: nowrap;

      scrollbar-width: thin; /* Firefox: Thin scrollbar */
      scrollbar-color: #888 transparent; 
    }

    &__form {
      padding-left: 10px;
      width: 100%;
      max-width: 300px;

      &::after {
        display: block;
      }
    }
  }

  @include mq($min-width: $lgBreak) {
    padding: 8px 8px 8px 25px;

    font-size: 21px;
    font-weight: 600;

    &__form {
      max-width: 430px;
    }
  }

  .btn {
    margin-left: 5px;

    &:last-child {
      margin-right: 20px;
    }

    @include mq($min-width: $lgBreak) {
      margin-left: 10px;
    }
  }

  .search-form {
    position: relative;

    @include mq($min-width: $mdBreak) {
      max-width: 430px;
    }

    .search-field {
      background: $srm_teal;
      height: 28px;
      margin: 0;

      padding-right: 30px;

      @include mq($min-width: $lgBreak) {
        height: 42px;
        padding-right: 45px;
      }
    }
    
    .search-submit {
      position: absolute;
      top: 3px;
      right: 5px;
      width: 22px;
      height: 22px;
      padding: 0;
    
      font-size: 0;
      color: transparent;

      // background: $srm_teal url('../images/icon-search.svg') no-repeat fixed center;
      background-color: $srm_teal;
      background-image: url('../images/icon-search.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 12px;

      border: 2px solid $srm_blue;

      @include mq($min-width: $lgBreak) {
        top: 5px;
        right: 6px;
        width: 32px;
        height: 32px;
        background-size: 15px;
      }
    }
  }
}

.search-bar__tags::-webkit-scrollbar {
  height: 2px; /* Height for horizontal scrollbar */
}

.search-bar__tags::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

.search-bar__tags::-webkit-scrollbar-thumb {
  background-color: $srm_orange; /* Scrollbar color */
  border-radius: 10px; /* Rounded scrollbar edges */
}

/*
body.search-results {
  .search-bar .search-form .search-field {      
    &:not(:placeholder-shown) {
      background: $white;
      border: 2px solid $srm_red !important;
      color: $srm_red !important;
    }
  }
}
*/

// Search Page
.search-page-form {
  input[type="search"] {
    padding-top: 6px;
    padding-bottom: 6px;

    border: 2px solid $srm_blue;

    border-radius: 30px;
  }

  input[type="submit"] {
    margin-top: 8px;
    display: inline-block;
    padding: 8px 0;
    width: 150px;

    background: transparent;
    border: 2px solid $srm_blue;
    border-radius: 100px;
    
    cursor: pointer;

    transition: all 250ms ease;

    &:hover {
      color: $white !important;
      background: $srm_blue;
    }
  }
}

/* ****************************************
 * Archive
 * **************************************** */
.archive-grid {
  margin-top: 15px;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  @include mq($min-width: $mdBreak) {
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  @include mq($min-width: $archiveGridBreak) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

    &.four-across {
      grid-template-columns: 1fr 1fr 1fr 1fr;

      .archive-card-wide {
        grid-column: span 4;
      }
    }
  }

  @include mq($min-width: $lgBreak) {
    gap: 20px;
  }
}

.archive-grid-sm {
  margin-top: 15px;
  margin-bottom: 15px;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;

  @include mq($min-width: $mdBreak) {
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  @include mq($min-width: $archiveGridBreak) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }

  @include mq($min-width: $lgBreak) {
    gap: 20px;
  }
}

.archive-grid-footer {
  margin-top: 15px;
}

.loading-spinner {
  text-align: center;
  margin: 10px auto 20px auto;
}

.archive-header {
  
  @include mq($min-width: 550px) {
    display: flex;
  }

  @include mq($min-width: $lgBreak) {
    margin-bottom: 1.5rem;
  }

  &__content {
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding-right: 10px;

    @include mq($min-width: 550px) {
      margin-bottom: 0;
    }

    h1 {
      margin: 0;
    }
  }

  &__sort {
    @include mq($min-width: 550px) {
      width: 300px;
      
      text-align: right;
    }
  }
}

.sort-dropdown {
  width: 100%;
  background: $srm_blue;
  border-radius: 100px;
  height: 35px;
  color: $srm_teal;
  line-height: 35px;
  padding: 0;
  font-weight: 600;
  text-align: center;
}

.archive-subnav {
  @extend %inner-side-padding !optional;
  @extend %border-radius !optional;

  padding-top: 12px;
  padding-bottom: 10px;

  background: $srm_off_white;

  @include mq($min-width: $lgBreak) {
    margin-bottom: 24px;
  }

  a {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;

    @include mq($min-width: $lgBreak) {
      font-size: 18px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.archive-card {
  position: relative;
  // padding: 1px;
  overflow: hidden;
  
  // background: rgb(16,61,97);
  // background-image: linear-gradient(135deg, rgba(16,61,97,1) 0%, rgba(144,244,238,0.25) 50%, rgba(15,61,97,1) 100%);

  border: 1px solid $srm_blue;

  border-radius: 12px;
  text-decoration: none;

  transition: all 250ms ease;

  &:hover {
    text-decoration: none;
    box-shadow: 0px 0px 20px rgba(15, 61, 97, 0.2);
  }

  @include mq($min-width: $mdBreak) {
    min-height: 280px;

    &.sm {
      min-height: 180px;
    }
  }

  @include mq($min-width: 1050px) {
    min-height: 300px;

    &.sm {
      min-height: 200px;
    }
  }

  @include mq($min-width: $lgBreak) {
    border-radius: 20px;
    min-height: 380px;
  }

  @include mq($min-width: 1360px) {
    min-height: 419px;
  }

  &__inner {
    position: relative;
    min-height: 100%;

    padding: 8px;

    background: $white;
    
    border-radius: 12px;

    @include mq($min-width: $lgBreak) {
      padding: 20px;
      border-radius: 20px;
    }

    p {
      display: -webkit-box;
      -webkit-line-clamp: 3; /* number of lines to show */
              line-clamp: 3; 
      -webkit-box-orient: vertical;
      overflow: hidden;
      
      @include mq($min-width: $mdBreak) {
        -webkit-line-clamp: 6; /* number of lines to show */
        line-clamp: 6; 
      }

      @include mq($min-width: $lgBreak) {
        display: block;
      }
    }
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    
    gap: 10px;

    text-transform: capitalize;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;

    @include mq($min-width: $lgBreak) {
      font-size: 16px;
      line-height: 150%;

      h5 {
        font-size: 18px;
      }
    }
  }

  &__img {
    position: relative;

    height: 0;
    padding-top: 55%;

    overflow: hidden;

    margin-bottom: 0.5rem;

    border-radius: 12px;

    @include mq($min-width: $lgBreak) {
      border-radius: 20px;
    }
    
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: block;

      min-width: 100%;
      min-height: 100%;

      max-width: initial;
      max-height: initial;

      width: 100%;
      height: 100%;

      object-fit: cover;
    }

    &.video {
      position: relative;

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        display: block;

        width: 50px;
        height: 50px;

        content: '';

        // background-image: url('../images/icon-play-video-explorer.svg'), linear-gradient(45.23deg, rgba(255, 255, 255, 0) 48.4%, rgba(255, 255, 255, 0.3) 48.61%), linear-gradient(0deg, #0F3D61 25%, #3C6EFF 100%);
        background: url('../images/icon-play-video.svg');
        background-position: center;
        background-size: cover;
        box-shadow: 0px 0px 20px rgba(15, 61, 97, 0.5);
        border-radius: 100px;

        @include mq($min-width: $lgBreak) {
          width: 75px;
          height: 75px;
        }
      }
    }
  }
}

.archive-card-wide {
  position: relative;
  padding: 0;
  overflow: hidden;
  
  // border: 1px solid red;
  // border-radius: 12px;
  text-decoration: none;

  transition: all 250ms ease;

  // grid-column: 1/4;
  grid-column: span 2;
  // min-height: 400px;

  &:hover {
    text-decoration: none;
  }

  a {
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__image {
    @extend %border-radius !optional;
    position: relative;
    // height: 100%;
    // background: $srm_off_white;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__left {
    margin-bottom: 1rem;
  }

  &__infographic {
    border: 1px solid $border_color;
    
    border-radius: 12px;

    overflow: hidden;

    @include mq($min-width: $lgBreak) {
      border-radius: 20px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    &--body {
      padding: 20px;
      @include mq($min-width: $lgBreak) {
        padding: 60px 25px 60px 25px;
      }
    }

    &--footer {
      padding: 12px 20px;
      background: $srm_off_white;

      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  @include mq($min-width: $mdBreak) {
    display: flex;

    margin-bottom: 20px;

    &__left,
    &__right {
      width: 50%;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__left {
      // padding: 10px 20px;
    }

    &__right {
      padding-left: 20px;
    }
  }

  @include mq($min-width: $archiveGridBreak) {
    grid-column: span 3;
  }

  @include mq($min-width: $lgBreak) {
    margin-bottom: 40px;

    &__right {
      padding-left: 40px;
    }
  }
}

.archive-card-title {
  font-size: 18px;
  line-height: 100%;

  @include mq($min-width: $lgBreak) {
    font-size: 28px;
    line-height: 125%;
  }
}


.archive-card-wide-title {
  font-size: 28px;
  line-height: 100%;

  @include mq($min-width: $lgBreak) {
    margin-bottom: 0.5rem;
    font-size: 42px;
    line-height: 125%;
  }
}

.archive-card-wide-subhead {
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.archive-card-wide-author {
  margin-bottom: 1.25rem;
}

// Explorer Card
.explorer-card {

  display: block;

  @extend %border-radius !optional;

  margin-top: 1.5rem;

  padding: 20px;
  // margin-bottom: 1.5rem;

  background: $white;
  border: 1px solid $srm_blue;

  text-decoration: none;

  transition: all 250ms ease;

  &:hover {
    // border-color: $srm_orange;
    text-decoration: none;
    box-shadow: 0px 0px 20px rgba(15, 61, 97, 0.2);
  }

  @include mq($min-width: $mdBreak) {
    display: flex;
    margin-top: 24px;
    min-height: 180px;
  }

  @include mq($min-width: $lgBreak) {
    margin-top: 24px;

    padding: 25px;

    min-height: 200px;
  }

  &__img {
    // display: none;

    border-radius: 12px;
    overflow: hidden;
    
    @include mq($min-width: $mdBreak) {
      margin-right: 10px;
      
      display: block;

      width: 250px;


      position: relative;

      background: $white;

      &--img {
        height: 0;
        padding-top: 55%;
  
        overflow: hidden;
        
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
  
          display: block;
  
          min-width: 100%;
          min-height: 100%;
  
          max-width: initial;
          max-height: initial;
  
          width: 100%;
          height: 100%;
  
          object-fit: cover;
        }

        &.video {
          position: relative;

          &::after {
            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            display: block;

            width: 50px;
            height: 50px;

            content: '';

            background-image: url('../images/icon-play-video-explorer.svg'), linear-gradient(45.23deg, rgba(255, 255, 255, 0) 48.4%, rgba(255, 255, 255, 0.3) 48.61%), linear-gradient(0deg, #0F3D61 25%, #3C6EFF 100%);
            box-shadow: 0px 0px 20px rgba(15, 61, 97, 0.5);
            border-radius: 100px;

          }
        }
      }
    }

    @include mq($min-width: $lgBreak) {
      width: 300px;

      margin-right: 20px;
    }
  }
  
  &__content {

    &--meta {
      display: flex;
      justify-content: space-between;
    }

    h5 {
      margin: 0 0 0.25rem 0;
      font-weight: 600;
    }

    h3 {
      margin: 0 0 0.25rem 0;
      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    p {
      margin-bottom: 0;
    }

    @include mq($min-width: $mdBreak) {
      flex: 1;
    }
  }
}


/* ****************************************
 * Category Archive
 * **************************************** */
.category-subnav {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px;

  background: $srm_off_white;

  border-radius: 100px;

  min-width: 100%;

  @include mq($min-width: $lgBreak) {
    margin-bottom: 50px;
    padding: 12px 25px;
  }

  &.xs-margin {
    margin-bottom: 10px;

    @include mq($min-width: $lgBreak) {
      margin-bottom: 20px;
    }
  }

  a {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    text-decoration: none;

    margin-right: 10px;

    transition: color 200ms ease;

    span {
      display: inline-block; 
    }

    &.active {
      color: $srm_orange;
    }

    &:hover {
      color: $srm_orange;
      text-decoration: underline;
    }

    @include mq($min-width: $lgBreak) {
      font-size: 18px;
      line-height: 22px;
      margin-right: 30px;
    }
  }
}

.category-wrapper {
  /*
  @extend %border-radius !optional;
  background: linear-gradient(180deg, #0F3D61 0%, rgba(15, 61, 97, 0) 100%);
  padding: 1px;

  &__inner {
    @extend %border-radius !optional;
    background: $white;

    padding: 20px;
  }
    */
}

/* ****************************************
 * CPT: Single Article
 * **************************************** */
.article-header {
  margin-top: 20px;
  margin-bottom: 2rem;
  // outline: 1px solid red;

  @include mq($min-width: $lgBreak) {
    margin-top: 50px;
  }

  &__image {
    
    margin-bottom: 20px;

    @include mq($min-width: $lgBreak) {
      margin-bottom: 30px;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    &--caption {
      margin-top: 2px;
      text-align: right;
      font-size: 14px;
    }
  }
}

.article-date {
  text-transform: capitalize;
  margin: 0 0 0.25rem 0;
}

.article-type {
  margin: 0.5rem 0 1rem 0;
  font-size: 14px;
  text-transform: uppercase;

  @include mq($min-width: $lgBreak) {
    font-size: 18px;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.article-headline {
  @include mq($min-width: $lgBreak) {
    margin-bottom: 1rem;
  }
}

.article-subhead {
  margin: 0 0 1rem 0;
}

.article-meta {
  margin: 20px 0 10px 0;
  // padding: 12px 24px;

  background: $srm_off_white;
  border-radius: 12px;

  @include mq($min-width: $lgBreak) {
    margin: 40px 0 10px 0;
  }

  &__byline {
    padding: 12px $innerSidePaddingSm;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    font-size: 18px;

    background: linear-gradient(83.41deg, #EEE9E6 -0.01%, #FFFFFF 100%);

    @include mq($min-width: $lgBreak) {
      padding: 12px $innerSidePaddingLg;
      font-size: 21px;
    }
  }

  &__featured {
    padding: 12px $innerSidePaddingSm;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    font-size: 18px;

    background: linear-gradient(83.41deg, #EEE9E6 -0.01%, #FFFFFF 100%);

    @include mq($min-width: $lgBreak) {
      padding: 12px $innerSidePaddingLg;
      font-size: 21px;
    }
  }

  &__misc {
    padding: 10px $innerSidePaddingSm 5px;

    @include mq($min-width: $lgBreak) {
      padding: 10px $innerSidePaddingLg 5px;
    }

    &--item {
      margin-bottom: 9px;
    }
  }

  &__citation {
    padding: 7px $innerSidePaddingSm 9px;

    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    
    background: $srm_blue;

    &--download {
      margin-top: 5px;
    }

    @include mq($min-width: $mdBreak) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      
      &--download {
        margin-top: 0;
        text-align: right;
      }
    }

    @include mq($min-width: $lgBreak) {
      padding: 7px $innerSidePaddingLg 9px;
    }

    a {
      color: $white;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 14px;
      font-weight: 600;
    }
  }
}

.article-share {
  margin-bottom: 20px;
  
  @include mq($min-width: $lgBreak) {
    margin-bottom: 40px;
  }
}

.share-button {
  appearance: none;

  width: 30px;
  height: 30px;

  display: inline-block;

  border-radius: 30px;

  background: #ece8e5;

  cursor: pointer;

  transition: all 250ms ease;

  border: 1px solid #ece8e5;

  line-height: 30px;

  svg,
  path {
    fill: $srm_blue;
    transition: all 250ms ease;
  }

  &.fb {
    svg {
      width: 10px;
      height: auto;
    }
  }

  &.x {
    svg { 
      transform: translateY(-1px);
      
      width: 15px;
      height: auto;
    }
  }

  &.linkedin {
    svg { 
      width: 15px;
      height: auto;
    }
  }

  &.email {
    svg { 
      transform: translateY(-1px);

      width: 15px;
      height: auto;
    }
  }

  &:hover {
    background: $srm_blue;
    border-color: $srm_blue;

    svg,
    path {
      fill: #ece8e5;
    }
  }
}

.article-infographic {
  img {
    display: block;
    width: 100%;
    height: auto;
  }

  &__desktop {
    display: none !important;
  }

  &__source {
    font-size: 14px;
    padding-top: 10px;
  }
  
  // border: 1px solid $border_color;
  // border-radius: 12px;

  @include mq($min-width: $mdBreak) {
    &__mobile {
      display: none !important;
    }

    &__desktop {
      display: block !important;
    }
  }
}

.article-podcast-image {
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.article-video-player {
  position: relative;
  display: block;
  height: 0;
  overflow: hidden;

  padding-top: 56.25%;

  background: $srm_off_white;

  border-radius: 12px;

  cursor: pointer !important;

  @include mq($min-width: $lgBreak) {
    border-radius: 20px;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(1);

    min-width: 100%;
    min-height: 100%;

    max-width: initial;
    max-height: initial;

    width: 100%;
    // height: 100%;

    object-fit: contain;

    transition: all 450ms ease;
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 70px;
    height: 70px;

    border-radius: 100px;

    background-color: $white;
    background-image: url('../images/icon-play-video.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    content: '';

    @include mq($min-width: $mdBreak) {
      width: 90px;
      height: 90px;
    }

    @include mq($min-width: $lgBreak) {
      width: 112px;
      height: 112px;
    }
  }

  &:hover {
    img {
      transform: translate(-50%, -50%) scale(1.02);
    }
  }
}

.mfp-video {
  .mfp-container {
    @extend %side-padding !optional;
  }

  .mfp-content {
    max-width: $siteMaxWidth;
  }
}

.article-featured-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;

  @include mq($min-width: $lgBreak) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  &__item {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;

    &--img {
      border-radius: 12px;
      overflow: hidden;

      margin-bottom: 8px;

      position: relative;
      height: 0;
      padding-top: 100%;
      overflow: hidden;

      background: $white;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}

.article-meta-date,
.article-revised-date {
  display: inline-block;
  margin-right: 10px;
}
.article-meta-date {
  margin-bottom: 4px;

  @include mq($min-width: $mdBreak) {
    margin-bottom: 0;
  }
}

.article-form {
  &__icon {
    display: block;

    width: 56px;
    height: 56px;

    margin: 0 auto 30px auto;

    background-image: url('../images/icon-sun.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @include mq($min-width: $lgBreak) {
      margin-bottom: 50px;
    }
  }

  &__form-wrapper {
    @extend %inner-side-padding !optional;

    padding-top: 10px;
    padding-bottom: 15px;

    background: $form_bg_color;
    border-radius: 12px;

    h4 {
      margin: 0 0 12px 0;
      font-weight: 600;
      color: $white;
    }

    @include mq($min-width: $lgBreak) {
      padding-top: 20px;
      padding-bottom: 20px;
    
      border-radius: 30px;
    }
  }
}

form {
  @include mq($min-width: $lgBreak) {
    // 
  }

  fieldset {
    padding: 0;
    border: none;
  }

  input,
  textarea {
    display: block;
    width: 100%;

    font-size: 16px;
    font-weight: 600;
    color: $srm_blue !important;

    // margin-bottom: 1rem;
    margin-bottom: 6px;

    border-radius: 20px;

    border: none;

    padding: 4px 14px;

    &::placeholder {
      color: $srm_blue;
    }

    @include mq($min-width: $lgBreak) {
      font-size: 18px;
    }
  }

  textarea {
    padding: 10px 14px;
  }

  .frm_form_field {
    margin-bottom: 15px;
  }

  .frm_submit {
    text-align: right;
  }
  
  button {
    @extend .btn !optional;
    border-color: $white;
    color: $white;

    &:hover {
      background: $white;
      color: $srm_blue;
    }
  }

  .frm_error {
    font-size: 12px;
    color: $srm_red;
  }
}

.article-endnotes {
  &__inner {
    padding-right: 15px;
    border: 1px solid #4B6E88;
    border-radius: 12px;

    @include mq($min-width: $lgBreak) {
      border-radius: 20px;
    }
  }

  h3 {
    color: $srm_teal;
  }

  p, li {
    margin-bottom: 1rem;
    font-size: 14px;
    line-height: 150%;
  }

  p {
    padding-left: 15px;
  }
}

.article-citation-header {
  p {
    font-weight: 600;
  }
}

.article-citation {
  padding: 20px 50px 20px 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;

  border: 1px solid #70C6CB;
  border-radius: 12px;

  @include mq($min-width: $lgBreak) {
    border-radius: 20px;
  }
}

.copy-citation-btn {
  position: absolute;
  top: 20px;
  right: 10px;

  appearance: none;
  border: none;
  background: transparent;

  @include mq($min-width: $mdBreak) {
    right: 20px;
  }

  svg {
    width: 20px;

    path { 
      fill: $srm_blue; 
    }
  }
}

.copy-citation-tooltip {
  opacity: 0;
  width: 70px;
  background-color: $black;
  color: $white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 14px;

  transition: opacity 250ms ease;

  /* Position the tooltip */
  position: absolute;
  left: -20px;
  top: -35px;
  z-index: 1;

  &.active {
    opacity: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: $black transparent transparent transparent;
  }
}



/* Podcast Player */
.podcast-player {
  margin-top: 15px;
  padding: 10px 20px 10px 14px;
  background: $srm_off_white;
  border-radius: 100px;

  display: flex;

  &__meta {
    position: relative;

    flex: 1;
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    progress {
      width: 100%;
    }
  }


  progress {
    // background-color: #313252;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 12px;
    display: block;
    cursor: pointer;
    border: none; 
    border-radius: 100px;

    border: 3px solid #D9D9D9;
  }
  
  progress.amplitude-song-played-progress:not([value]) {
    // background: orange;
  }
  
  progress[value]::-webkit-progress-bar {
    background: #D9D9D9;
  }
  
  progress[value]::-moz-progress-bar {
    background: linear-gradient(90deg, #EFEF60 0%, #E28A4C 100%);
  }
  
  progress[value]::-webkit-progress-value {
    background: linear-gradient(90deg, #EFEF60 0%, #E28A4C 100%);
  }

  .time-container {
    position: absolute;
    width: calc(100% - 15px);
    display: flex;
    justify-content: space-between;
    transform: translateY(14px);

    font-size: 12px;
  }
}

.amplitude-play-pause {
  position: relative;

  width: 34px;
  height: 34px;

  background: linear-gradient(45.23deg, rgba(255, 255, 255, 0) 48.4%, rgba(255, 255, 255, 0.3) 48.61%), linear-gradient(0deg, #E28A4C 25%, #EFEF60 100%);
  border-radius: 100px;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 15px;
    height: 15px;

    background-image: url('../images/icon-play-podcast.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    content: '';
  }

  &.amplitude-playing {
    &::before {
      background-image: url('../images/icon-pause-podcast.svg');
    }
  }
}

/* ****************************************
 * CPT: Person Single Page
 * **************************************** */
.person-header {
  &__top {
    &--image {
      width: 210px;
      border-radius: 20px;
      overflow: hidden;

      margin-bottom: 15px;
      
      img {
        display: block;
        width: 100%;
        height: auto;

        object-fit: cover;
      }
    }
  }
  @include mq($min-width: $mdBreak) {
    &__top {
      display: flex;

      &--image {
        width: 210px;
        margin-bottom: 0;
      }

      &--content {
        flex: 1;
        padding-left: 15px;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }
  }
}

.person-name {
  margin: 0;

  font-size: 36px;
}

.person-title {
  margin: 0.25rem 0 0 0;

  font-size: 24px;
  font-weight: 400;
}

.person-bio {
  margin-top: 15px;

  @include mq($min-width: $lgBreak) {
    margin-top: 40px;
  }
}

.person-article-group {
  h2 {
    margin-bottom: 1rem;
  }

  .archive-grid {
    margin-top: 0 ;
  }
}

/* ****************************************
 * CPT: Glossary
 * **************************************** */
.glossary-section {
  margin-bottom: 20px;

  @include mq($min-width: $lgBreak) {
    margin-bottom: 60px;
  }
}

.glossary-nav {
  margin-bottom: 3rem;

  @include mq($min-width: $mdBreak) {
    margin-top: 3rem;
  }

  @include mq($min-width: $lgBreak) {
    margin: 5rem 0;
  }

  a, span {
    display: inline-block;
    margin: 0 5px;
    font-weight: 600;
    font-size: 21px;
    line-height: 150%;
    color: #0F3D61;
    text-decoration: none;
  }

  span {
    color: #BCC7D0;
  }

  a {
    &:hover {
      color: $srm_orange;
    }
  }
}

/* ****************************************
 * Module: Section
 * **************************************** */
.section {
  margin: 30px 0;

  // outline: 1px solid red;

  @include mq($min-width: $lgBreak) {
    margin: 60px 0;
  }

  &.no-margin {
    margin: 0;
  }

  &.no-top-margin {
    margin-top: 0;
  }

  &.xs-margin {
    margin: 10px 0;

    @include mq($min-width: $lgBreak) {
      margin: 20px 0;
    }
  }

  &.small-margin {
    margin: 30px 0;

    @include mq($min-width: $lgBreak) {
      margin: 30px 0;
    }
  }

  &.xs-bottom-margin {
    margin-bottom: 20px;
    
    @include mq($min-width: $lgBreak) {
      margin-bottom: 30px;
    }
  }

  &.blue {
    color: $white;
    background: $srm_blue;

    a {
      color: $white;
      text-decoration: underline;
    }
  }

  &.teal {
    color: $srm_blue;
    background: $srm_teal;
  }

  &.off-white {
    background: $srm_off_white;
  }

  &.padded {
    padding: 20px 0;

    @include mq($min-width: $lgBreak) {
      padding: 40px 0;
    }
  }

  &.padded-lg {
    padding: 20px 0;

    @include mq($min-width: $lgBreak) {
      padding: 60px 0 80px 0;
    }
  }

  &.large-margin {
    margin: 30px 0;

    @include mq($min-width: $mdBreak) {
      margin: 50px 0;
    }

    @include mq($min-width: $lgBreak) {
      margin: 70px 0;
    }
  }
}

/* ****************************************
 * Module: Summary
 * **************************************** */
.summary-card {
  padding: 16px 12px;
  
  background: $summary_card_color;
  border-radius: 12px;

  @include mq($min-width: $mdBreak) {
    padding: 24px 30px;
  }

  @include mq($min-width: $lgBreak) {
    border-radius: 30px;
    padding: 40px 70px;
  }

  ul {
    padding: 0;
    margin: 0;
    
    list-style: none;

    li {
      position: relative;

      padding-left: 28px;
      margin-bottom: 15px;

      max-width: 700px;

      &::before {
        position: absolute;
        top: 3px;
        left: 0;

        width: 20px;
        height: 20px;

        background-image: url('../images/icon-sun.svg');
        background-size: contain;

        content: '';
      }

      @include mq($min-width: $lgBreak) {
        padding-left: 34px;
        margin-bottom: 24px;
        
        &::before {
          top: 1px;
          width: 24px;
          height: 24px;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
      // list-style-image: url('../images/icon-sun.svg');
    }
  }
}

/* ****************************************
 * Module: Table
 * **************************************** */
.srm-table {
  &__header {
    @extend %inner-side-padding !optional;

    padding-top: 10px;
    padding-bottom: 10px;

    color: $srm_blue;

    h3 {
      margin: 0;
    }

    @include mq($min-width: $lgBreak) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &__image {
    position: relative;
    z-index: 2;

    overflow: hidden;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    background: $white;

    &--desktop {
      display: none !important;
    }

    &.rounded {
      border-radius: 8px;
    }

    @include mq($min-width: $mdBreak) {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;

      &--mobile {
        display: none !important;
      }

      &--desktop {
        display: block !important;
      }

      &.rounded {
        border-radius: 16px;
      }
    }

    @include mq($min-width: $lgBreak) {
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;

      &.rounded {
        border-radius: 26px;
      }
    }

    img {
      display: block;
      width: 100%;
      // height: auto;
      margin: 0 !important;
    }
  }

  &__infographic {
    position: relative;
    z-index: 10;
  }

  &__body {
    position: relative;
    z-index: 1;
    // @extend %inner-side-padding !optional;

    // border-radius: 12px;

    overflow: hidden;

    overflow-x: auto;

    border-radius: 12px;
    
    @include mq($min-width: $lgBreak) {
      border-radius: 40px;
    }
  }

  &__caption {
    position: relative;

    padding-top: 10px;
    padding-bottom: 0;

    background: $white;

    &::before {
      position: absolute;
      top: -40px;
      left: 0;

      z-index: 0;

      width: 100%;
      height: 40px;

      background: $white;

      content: '';
    }

    h3 {
      margin: 0;
    }

    p {
      margin: 0;
    }

    &.infographic {
      h3 {
        margin-bottom: 5px;
      }

      p {
        margin-bottom: 15px;
      }

      &::before {
        display: none;
      }
    }
  }

  &__source {
    // @extend %inner-side-padding !optional;

    position: relative;

    padding-top: 10px;
    // padding-bottom: 20px;

    margin: 0;
    font-size: 14px;
    color: $srm_blue;
    background: $white;

    a {
      color: $srm_blue;
    }

    /*
    &::before {
      position: absolute;
      top: 50%;
      right: $innerSidePaddingSm;
      transform: translateY(-50%);

      width: 80px;
      height: 22px;

      background-image: url('../images/srm-logo-white.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      content: '';

      @include mq($min-width: $lgBreak) {
        right: $innerSidePaddingLg;
      }
    }
    */
  }
}

table {
  min-width: 100%;
  // width: 100%;

  border-collapse: collapse;

  th {
    @extend %inner-side-padding !optional;
    padding-top: 15px;
    padding-bottom: 15px;

    font-size: 18px;

    background: #BFCBD5;
    text-align: left;

    &:nth-child(even) {
      background: #C3CED7;
    }

    &:first-child {
      border-top-left-radius: 12px;
    }

    &:last-child {
      border-top-right-radius: 12px;
    }

    @include mq($min-width: $lgBreak) {
      padding-top: 30px;
      padding-bottom: 30px;

      font-size: 21px;
    }
  }

  td {
    @extend %inner-side-padding !optional;
    padding-top: 15px;
    padding-bottom: 15px;

    font-size: 16px;

    @include mq($min-width: $lgBreak) {
      padding-top: 30px;
      padding-bottom: 30px;

      font-size: 18px;
    }
  }

  &.small-padding {
    td {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    th, td {
      padding-left: 10px;
      padding-right: 10px;

      @include mq($min-width: $lgBreak) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  th,
  td {
    min-width: 50px;
  }

  

  &.even {
    table-layout: fixed; 

    th,
    td {
      min-width: 250px;
    }

    &.col-three {
      th, td {
        width: 33.33%;
      }
    }
  
    &.col-four {
      th, td {
        width: 25%;
      }
    }
  
    &.col-fice {
      th, td {
        width: 20%;
      }
    }
  }

  tr {
    td {
      background: #FAFBFC;

      

      &:nth-child(even) {
        background: #FFFFFF;
      }
    }
    
    &:nth-child(even) {
      td {
        background: #EFF0F1;

        &:nth-child(even) {
          background: #F4F4F4;
        }
      }
    }
  }
}

.srm-figure {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;

  padding: 20px;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  .srm-table__image {
    margin-bottom: 10px;
  }

  &__right {
    text-align: center;
  }

  @include mq($min-width: $mdBreak) {
    padding: 20px 20px;

    &__right {
      padding-top: 10px;
    }

    .srm-table__image {
      margin-bottom: 0;
    }

    
  }

  @include mq($min-width: $lgBreak) {
    border-radius: 40px;

    padding: 30px 30px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    &.infographic {
      display: flex;

      .srm-figure__left {
        width: 50%;
      }
    }

    &__left,
    &__right {
      text-align: left;
    }

    &__right {
      display: flex;
      flex-direction: column;
      justify-content: center;

      padding-top: 0;
    }
  }
}

/* ****************************************
 * Module: Image + Text
 * **************************************** */
.srm-image-text {
  &__caption {
    margin-top: 0.25rem;
    font-size: 14px;
  }

  @include mq($min-width: $mdBreak) {
    .col-split__left {
      border-top-right-radius: 12px;
    }
    
    img {
      transform: translateX(-$paddingSideMd);
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    &__caption {
      transform: translateX(-$paddingSideMd);
    }

    &.flipped {
      img {
        transform: translateX($paddingSideMd);

        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }

      .srm-image-text__caption {
        transform: translateX($paddingSideMd);
      }
      
      .srm-image-text__infographic {
        margin-left: 20px;
        margin-right: 0;
      }

      .graphic-heading {
        margin-left: 20px;
        margin-right: 0;
      }
    }
  }

  @include mq($min-width: $lgBreak) {
    img {
      transform: translateX(-$paddingSideLg);
    }

    &__caption {
      transform: translateX(-$paddingSideLg);
    }

    &.flipped {
      img {
        transform: translateX($paddingSideLg);
      }

      .srm-image-text__caption {
        transform: translateX($paddingSideLg);
      }

      .srm-image-text__infographic {
        margin-left: 30px;
        margin-right: 0;
      }

      .graphic-heading {
        margin-left: 30px;
        margin-right: 0;
      }
    }
  }

  @include mq($min-width: 1441px) {
    img {
      border-radius: 20px !important;
    }
  }

  &__infographic {
    img {
      border-radius: 0 !important;
      transform: translateX(0) !important;
    }

    @include mq($min-width: $mdBreak) {
      margin-right: 20px;
    }

    @include mq($min-width: $lgBreak) {
      margin-right: 30px;
    }
  }

  &__download {
    
    transform: translateY(-2px);
    font-size: 14px;
  }

  &.flipped {
    .srm-image-text__download {
      text-align: right;

      transform: translateY(10px);
      margin-bottom: 10px;
    }
  }
}

.container__inner-wide,
.container__inner-full {
  @include mq($min-width: $lgBreak) {
    .srm-image-text__infographic {
      margin-right: 40px;
    }

    .srm-image-text.flipped {
      .srm-image-text__infographic {
        margin-left: 40px;
        margin-right: 0;
      }
    }

  }
}


.graphic-heading {
  h3 {
    margin: 0 0 0.5rem 0;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
  }

  h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }

  @include mq($min-width: $mdBreak) {
    margin-right: 20px;
  }

  &.image {
    @include mq($min-width: $mdBreak) {
      transform: translateX(-$paddingSideMd);
  

      &.flipped {
        transform: translateX($paddingSideMd);
      }
    }

    @include mq($min-width: $lgBreak) {
    
      transform: translateX(-$paddingSideLg);
    
      &.flipped {
        transform: translateX($paddingSideLg);
      }
    }
  }
}

.border-wrapper {
  position: relative;

  &::before,
  &::after {
    // display: none;

    position: absolute;

    width: 20px;
    height: 4px;

    right: 0;

    background: $white;

    content: '';

    @include mq($min-width: $lgBreak) {
      width: 30px;
    }
  }

  &::before {
    top: -2px;
  }

  &::after {
    bottom: -2px;
  }

  &.border-top {
    border-top: 1px solid $border_color;
    padding-top: 20px;
    border-radius: 0 !important;

    &::before {
      display: block !important;
    }
  }

  &.border-bottom {
    border-bottom: 1px solid $border_color;
    padding-bottom: 20px;
    border-radius: 0 !important;

    &::after {
      display: block;
    }
  }

  &.border-both {
    border-top: 1px solid $border_color;
    padding-top: 20px;
    
    border-bottom: 1px solid $border_color;
    padding-bottom: 20px;
    border-radius: 0 !important;

    &::before,
    &::after {
      display: block;
    }
  }

  &.flipped {
    &::before,
    &::after {
      right: initial;
      left: 0;
    }
  }

  &.image {
    border: none !important;
    padding: 0 !important;
  }
}


/* ****************************************
 * Module: Team
 * **************************************** */
.team-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @include mq($min-width: $mdBreak) {
    
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  @include mq($min-width: $lgBreak) {
    
  grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.team-item {
  position: relative;

  font-size: 18px;
  font-weight: 600;
  text-decoration: none;

  &__img {
    margin-bottom: 6px;
    position: relative;
    height: 0;
    overflow: hidden;

    padding-top: 100%;
    background: $srm_off_white;

    border-radius: 12px;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
      
      min-width: 100%;
      min-height: 100%;
      
      width: auto;
      height: auto;

      object-fit: cover;

      // max-width: 100%;
    }
  }

  .job-title {
    font-weight: 400;
    font-size: 16px;
  }
}

/* ****************************************
 * Module: Spacer
 * **************************************** */
.spacer {
  
  height: 20px;

  @include mq($min-width: $lgBreak) {
    height: 40px;
  } 
  
}

/* ****************************************
 * Module: Accordion
 * **************************************** */

.accordion-item {
  position: relative;
  padding: 20px;

  @include mq($min-width: $mdBreak) {
    padding: 25px;
  }
  
  &:nth-child(odd) {
    background-color: $srm_off_white;;
  }
  
  &.rounded {
    @extend %border-radius !optional;
    
    padding: 12px 10px;

    @include mq($min-width: $mdBreak) {
      padding: 14px 20px;
    }

    @include mq($min-width: $lgBreak) {
      padding: 18px 25px;
    }
  }

  &__header {
    position: relative;
  
    padding-right: 35px;

    cursor: pointer;

    h2 {
      margin: 10px 0 5px 0;
      font-weight: 400;
      font-size: 24px;

      @include mq($min-width: $lgBreak) {
        margin: 18px 0 5px 0;
        font-size:32px;
      }
    }
    
    h5 {
      margin: 0;
      font-size: 16px;
      font-weight: 400;

      @include mq($min-width: $lgBreak) {
        font-size: 21px;
      }
    }

    h4 {
      margin: 0;

      font-size: 16px;
      // text-transform: capitalize;

      @include mq($min-width: $lgBreak) {
        font-size: 21px;
      }
    }
      
    &::before {
      position: absolute;
      top: 50%;
      right: 0;

      width: 32px;
      height: 32px;

      background-image: url('../images/icon-arrow.svg');
      background-repeat: no-repeat;
    
      background-position: center;
      
      opacity: 1;

      content: '';

      transition: all 250ms ease;
      transform: translate(0, -50%) rotate(-90deg);

      // outline: 1px solid red;
    }

    &.event {
      &::before {
        top: 0;
        transform: translate(0) rotate(-90deg);
      }
    }
  }

  &__content {
    overflow: hidden;
    height: 0;

    &--inner {
      padding: 0;

      p {
        // font-size: 16px;
        // line-height: 130%;

        &:first-child {
          margin-top: 1.25rem;
        }
        
        &:last-child {
          margin-bottom: 0;
        }
      }

      li {
        // font-size: 16px;
      }

      @include mq($min-width: $lgBreak) {
        p, li {
          font-size: 21px;
          // line-height: 130%;
        }

        &.small {
          p, li {
            font-size: 18px;
          }
        }
      }
    }
  }

  &.active {
    // active styling
    .accordion-item__header {
      &::before {
        transform: translate(0, -50%) rotate(0);
      }
    }

    .accordion-item__header.event {
      &::before {
        transform: rotate(0);
      }
    }
  }
}

/* ****************************************
 * Module: Bio Box
 * **************************************** */
.bio-box {
  margin-top: 40px;
  position: relative;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;

  border-top: 1px solid $srm_blue;

  &::before {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);

    width: 40px;
    height: 40px;

    background: $white;
    background-image: url('../images/icon-quote.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    content: '';
  }

  @include mq($min-width: 900px) {
    margin-top: 50px;
    padding-top: 60px;

    &::before {
      width: 50px;
      height: 50px;
    }

    &__inner {
      display: flex;

      &--left {
        width: 50%;
      }

      &--right {
        width: 50%;
      }
    }
  }
}

.bio-info {
  display: flex;
  margin-bottom: 10px;
  
  &__left {
    width: 144px;
    height: 179px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      max-width: initial;

      object-fit: cover;
    }
  }

  &__right {
    padding-left: 10px;
  }

  h3 {
    margin: 0 0 6px 0;
    font-size: 21px;
    line-height: 24px;
    font-weight: 700;
  }

  h4 {
    margin: 0 0 5px 0;
    font-size: 14px;
    font-weight: 700;

    &.bio-title {
      font-weight: 400;
    }
  }

  @include mq($min-width: 550px) {
    max-width: 400px;
    margin: 0 auto 10px auto;
  
    h4 {
      font-size: 16px;
    }
  }

  @include mq($min-width: 900px) {
    flex-direction: row-reverse;
    margin: 0 0 10px 0;
    max-width: 100%;
    padding-right: 10px;

    &__right {
      padding-left: 0;
      padding-right: 15px;
      text-align: right;
    }
  }
}

.bio-about {
  @include mq($min-width: 900px) {
    padding-left: 10px;
  }

  p {
    font-size: 16px;
    line-height: 21px;
    font-style: italic;

    @include mq($min-width: 550px) {
      font-size: 18px;
      line-height: 24px;
      text-align: center;
    }

    @include mq($min-width: 900px) {
      text-align: left;
    }
  }
}

/* ****************************************
 * Template: Homepage
 * **************************************** */
.homepage-header {
  padding: 40px 25px;

  background: $srm_off_white;

  border-radius: 12px;
  overflow: hidden;

  @include mq($min-width: $mdBreak) {
    padding: 40px 50px;
  }

  @include mq($min-width: $lgBreak) {
    padding: 50px 50px;
    border-radius: 30px;
  }

  &__inner {
    max-width: 900px;
    margin: 0 auto;

    p {
      margin: 1rem 0 0 0;
      font-size: 16px;
      line-height: 140%;
      font-weight: 600;

      text-align: center;

      a {
        color: $srm_orange;
      }

      @include mq($min-width: $mdBreak) {
        font-size: 18px;
      }

      @include mq($min-width: $lgBreak) {
        margin: 1.5rem 0 0 0;
        font-size: 21px;
        line-height: 140%;
      }
    }
  }
}

.homepage-explorer {
  @extend %inner-side-padding !optional;
  @extend %border-radius !optional;

  padding-top: 20px;
  padding-bottom: 20px;

  background: $srm_off_white;
  background: linear-gradient(163.34deg, #EEE9E6 0%, #FFFFFF 76.97%), rgba(238, 233, 230, 0.5);

  @include mq($min-width: $lgBreak) {
    padding: 40px;

    h2 {
      margin-bottom: 20px;
    }
  }
}

/* ****************************************
 * Template: FAQs
 * **************************************** */
.faq-section-header {
  @include mq($min-width: $lgBreak) {
    margin-bottom: 40px;
  }
}

.faq-form {
  margin-top: 50px;

  @include mq($min-width: $lgBreak) {
    margin-top: 70px;
  }
  
  h1 {
    margin-bottom: 2rem;
  }
  

  form {
    input,
    textarea {
      border: 1px solid $srm_blue;
      border-radius: 24px;
      max-height: auto;

      @include mq($min-width: $lgBreak) {
        padding: 10px 25px;
        font-size: 18px;

        border-radius: 24px;
      }
    }

    textarea {
      border-radius: 24px;
      @include mq($min-width: $lgBreak) {
        padding: 20px 25px;
        min-height: 180px;
        border-radius: 24px;
      }
    }

    button {
      border: 1px solid $srm_blue;
      color: $srm_blue;

      &:hover {
        color: $white;
        background: $srm_blue;
      }
    }
  }
}

.faq-header {
  @include mq($min-width: $mdBreak) {
    display: flex;

    &__left {
      flex: 1;
    }

    &__right {
      width: 300px;
      text-align: right;
    }
  }
}

.faq-dropdown {
  background: $srm_blue;
  border-radius: 100px;

  color: $srm_teal;

  width: 100%;

  text-align: center;
  padding: 10px;

  @include mq($min-width: $lgBreak) {
    max-width: 300px;
  }
}