@font-face {
    font-family: "Mont";
    src: url('../fonts/Mont-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Mont";
    src: url('../fonts/Mont-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Mont";
    src: url('../fonts/Mont-SemiBold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Mont";
    src: url('../fonts/Mont-SemiBoldItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Mont";
    src: url('../fonts/Mont-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Mont";
    src: url('../fonts/Mont-RegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}